################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Todo/FileContentIndex
/.vs/Todo/v17
/TodoBackEnd/bin
/TodoBackEnd/node_modules
/TodoBackEnd/node_modules/.bin/acorn
/TodoBackEnd/obj/Debug
/TodoFrontEnd/node_modules
/TodoFrontEnd/.vs/Todo/v17/.suo
/TodoFrontEnd/.vs/Todo/v17/DocumentLayout.json
/TodoFrontEnd/obj/Debug
/TodoBE/bin
/TodoBE/node_modules
/TodoBE/obj/Debug
/TodoBackEnd2/obj/Debug
/TodoBackEnd2Archive
/TodoBackendArchive
/TodoBEArchive
/TodoBackEnd/routes/index.js
/TodoBackEnd/routes/user.js
/TodoBackEnd/app.js
/node_modules
/ExpressApp1/bin
/ExpressApp1/node_modules
/ExpressApp1/obj/Debug
/ExpressApp1/obj/Debug/ExpressApp1.njsproj.AssemblyReference.cache
*.js
/.vs/NoteApp/FileContentIndex
/.vs/NoteApp/v17
/NoteAppBackEnd/bin
/NoteAppBackEnd/node_modules
/NoteAppBackEnd/obj/Debug
/NoteAppFrontEnd/node_modules
/NoteAppFrontEnd/obj/Debug
/editing-crud-modal/sandbox/.vs/sandbox/FileContentIndex
/editing-crud-modal/sandbox/.vs
/editing-crud-modal
/NoteAppBackEnd/dal/entity/Note.js
/NoteAppBackEnd/dal/data-source.js
/NoteAppBackEnd/dal/typeormInsert.js
/NoteAppBackEnd/dal/data-source.js.map
/NoteAppBackEnd/dal/typeormInsert.js.map
/NoteAppBackEnd/dal/entity/Note.js.map
/NoteAppBackEnd/routes/index.js.map
*.map
/NoteAppBackEnd/app.js.map
/NoteAppBackEnd/dev.env
/NoteAppBackEnd/.env
/.vs
/NoteAppFrontEnd/src/table.tsx
/NoteAppFrontEnd/src/table.tsx
